# plan.md
plan.md
=======
modules/__pycache__/DataAnalysis.cpython-312.pyc
modules/__pycache__/ModelAnalysis.cpython-312.pyc
modules/__pycache__/Models.cpython-312.pyc
modules/__pycache__/DataModify.cpython-312.pyc